## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100), 80) 
print(sample_list_1)

[55, 95, 56, 46, 69, 80, 9, 52, 1, 70, 59, 68, 60, 71, 10, 17, 20, 43, 93, 29, 4, 75, 72, 99, 0, 30, 78, 38, 24, 49, 35, 41, 27, 76, 89, 82, 51, 5, 54, 13, 19, 65, 63, 14, 88, 21, 15, 36, 74, 98, 22, 33, 25, 40, 6, 97, 64, 12, 77, 31, 73, 86, 84, 45, 48, 37, 3, 79, 11, 96, 91, 16, 47, 53, 67, 28, 66, 32, 8, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1) 
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = [] 

for i in range(80):
    random_list = random.sample(range(100),1) 
    random_number = random_list[0]
    sample_list_2.append(random_number)

print(sample_list_2)

[55, 99, 5, 37, 23, 29, 41, 69, 99, 65, 54, 67, 12, 77, 10, 8, 73, 11, 2, 23, 18, 90, 70, 82, 10, 68, 91, 73, 82, 57, 68, 95, 14, 55, 85, 60, 24, 46, 27, 13, 14, 89, 16, 67, 35, 38, 39, 55, 94, 90, 41, 38, 11, 41, 82, 40, 67, 12, 67, 36, 34, 14, 24, 36, 35, 90, 63, 82, 36, 71, 76, 15, 88, 48, 38, 32, 97, 23, 54, 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here 

set3 = set1.difference(set2)
print(set3)

{0, 1, 3, 4, 6, 9, 17, 19, 20, 21, 22, 25, 26, 28, 30, 31, 33, 43, 45, 47, 49, 51, 52, 53, 56, 59, 64, 66, 72, 74, 75, 78, 79, 80, 84, 86, 93, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here 
set4 = set2.difference(set1)
print(set4)

{2, 34, 39, 18, 85, 23, 57, 90, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2) 
print(set5)

{5, 8, 10, 11, 12, 13, 14, 15, 16, 24, 27, 29, 32, 35, 36, 37, 38, 40, 41, 46, 48, 54, 55, 60, 63, 65, 67, 68, 69, 70, 71, 73, 76, 77, 82, 88, 89, 91, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5)) 

# Set1 is always largest as it represents 80 unique values 
print(len(set1) > len(set2) )

# Set4 is always smaller than set3 as there is most likely more unique values in set1 then in set 2
                                            
print(len(set3) > len(set4))

62
50
39
9
41
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here 
set6.update(set3,set5) 
print(set6)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 86, 88, 89, 91, 93, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set3.union(set4,set5) 

set1.union(set2) 

print(set1 == set3)

False

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here 
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element) 
        
print(set1)

{3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 52, 53, 54, 55, 56, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 86, 88, 93, 95, 96, 97, 98}